
{:paths ["source-code/clj"]
 :deps  {mt-utilities/cljc-io {:git/url "https://github.com/mt-utilities/cljc-io"
                               :sha     "7e676bb536e70feeb123917b610ad6409fe6fa53"}
         org.clojure/clojure  {:mvn/version "1.10.1"}}}
