
{:paths ["source-code/clj"]
 :deps  {mt-utilities/cljc-io {:git/url "https://github.com/mt-utilities/cljc-io"
                               :sha     "31c809d5705055dcafe5b12ac1cdc38c13a52f62"}
         org.clojure/clojure  {:mvn/version "1.10.1"}}}
