
{:paths ["source-code/clj"]
 :deps  {mt-utilities/cljc-io {:git/url "https://github.com/mt-utilities/cljc-io"
                               :sha     "2e36df636e1cecf955c1667d01b45fe53dd4eef8"}
         org.clojure/clojure  {:mvn/version "1.10.1"}}}
